certifi==2023.11.17
charset-normalizer==3.3.2
crypto==1.4.1
idna==3.7
mysql-connector-python==8.3.0
mysql-replication==1.0.6
Naked==0.1.32
numpy==1.26.3
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
packaging==23.2
pycrypto==2.6.1
pycryptodomex==3.20.0
PyMySQL==1.1.1
PyYAML==6.0.1
requests==2.31.0
shellescape==3.8.1
urllib3==2.2.0